/* decide if everything gets .App or not 
	reconsider where to use pixels, %, vm, etc
	simplify classes (18px font class?)*/

.App {
	text-align: center;
}

.App-link, .App a {
	color: #41bee0;
	text-decoration: none;
}

.App-link:hover, 
.App a:hover {
	text-decoration: underline;
	text-decoration-color:  #41bee0;
}

.App h2 {
	color: #282c34;
	font-size: calc(10px + 3vmin);
}

.App .h2-button {
	color: #282c34;
	font-size: calc(10px + 2vmin);
	overflow: visible;
	width: auto;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}

.App button.h2-button:hover {
	text-decoration: underline;
	text-decoration-color:  #41bee0;
}

.App .p-button {
	color: #282c34;
	font-size: 18px;
	overflow: visible;
	width: auto;
	background: none;
	margin: 0px 10px;
	padding: 0;
	border: none;
	cursor: pointer;
}

.App button.p-button:hover {
	text-decoration: underline;
	text-decoration-color:  #41bee0;
}

.App .Disappears {
	-webkit-transition: 0.65s;
	-moz-transition: 0.65s;
	-o-transition: 0.65s;
	transition: 0.65s;
	/*opacity: 0;*/
}

.App .Disappears:hover {
	opacity: 0;
}

.App .Appears {
	-webkit-transition: 0.65s;
	-moz-transition: 0.65s;
	-o-transition: 0.65s;
	transition: 0.65s;
	opacity: 0;
}

.App .Appears:hover {
	opacity: 1;
}

.App .hidden, .App .Menu.hidden {
	display: none;
}

.App .Bigboi {
	font-size: 15vmin;
}

.App .Login-button {
	border: 1px white solid;
	padding: 10px 20px;
	border-radius: 30px;
}

.App .Menu {
	height: 100px;
	font-size: 18px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 0 20px;
}

.App .Menu label {
	margin-left: 20px;
}

.App .Menu input {
	margin: 0 10px;
	width: 160px;
    padding: 5px 10px;
	border: 2px #eee solid;
}

.App .Loading {
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.App-header {
	background-color: #282c34;
	max-height: 80vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-size: calc(10px + 2vmin);
	color: white;
	text-align: left;
}

.Cover {
	background-color: #282c34;
	/*
	https://data.whicdn.com/images/152593249/original.jpg
	https://upload.wikimedia.org/wikipedia/commons/f/fb/Julien_Alden_Weir_The_Bridge_Nocturne_aka_Nocturne_Queensboro_Bridge.jpg
    background-image: linear-gradient(to top, rgba(0,0,0,.75), transparent), url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Whistler-Nocturne_in_black_and_gold.jpg);
	"https://66.media.tumblr.com/3e327da01b83ec9222ef7e554810e494/tumblr_pb7bzgJi1g1vz5npso1_500.gifv"
	*/
	
	background-image: linear-gradient(to top, rgba(0,0,0,.75), transparent), url(https://66.media.tumblr.com/50461211b0dae46c62b625f1cf8d1ce6/488942c07c75fe29-1b/s540x810/aa54d15cd3fee3e843ad23d4af0a55b3cc151185.gifv);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.App-header a {
	color: white;
}

.Playlist-image, .Playlist-image img {
	height: 300px;
	width: auto;
}

.Playlist-info {
	width: 100%;
	padding: 0vh 8vh;
	flex-flow: column wrap;
	align-items: baseline;
}

.Playlist-description {
	font-size: 18px;
	max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Playlist-body p, .Playlist-body li {
	text-align: left;
}

.Playlist-body p {
	margin: 5px 0;
}

.Playlist-body .Album ul {
	margin: 0;
	padding: 5px 0px;
	font-size: 18px;
	color: #282c34;
	list-style-type: none;
}

.Playlist-body .Album li {
	margin-bottom: 5px;
}

.Artist-image, .Artist-image img {
	height: 80vh;
	width: auto;
}

.Artist-info {
	height: 80vh;
	width: 100%;
	padding-left: 8vh;
	flex-flow: column wrap;
	align-items: baseline;
}

.Top-tracks {
	height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.Track {
	max-width: 45%;
}

.Track p {
	margin-top: 2px;
	margin-bottom: 25px;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Options {
	/* messy but the right idea: want it less obtrusive, now it acts weird when over another link */
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: fit-content;
	position: sticky;
	top: 0px;
	padding: 10px;
	z-index: 1000; /*maybe not a good idea :P */
}

.Options .Dropdown {
	height: 30px;
	border-bottom: 2px #eee solid;
	border-top-right-radius: 10px;
}

.Dropdown {
	display: inline-flex;
	width: fit-content;
	margin-left: 15px;
	margin-right: 15px;
	padding: 10px 0px;
	background: white;
}

.Dropdown-content {
	list-style-type: none;
	padding: 0px 5px;
	margin: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.Dropdown-option {
	color: #282c34;
	font-size: 18px;
	overflow: visible;
	width: auto;
	background: none;
	margin: 0px 10px;
	margin-top: 5px;
	border: 1px transparent solid;
	cursor: pointer;
}

.Dropdown-option:hover {
	border: 1px #41bee0 solid;
	border-radius: 30px;
}

.Dropdown-content .Selected {
	color: white;
    border: 1px #41bee0 solid;
    border-radius: 30px;
    background: #41bee0;
}

.Albums-Singles {
	margin-top: -135px; /* height of options box plus a little*/
	margin-left: 5%;
	margin-right: 5%;
}

.Albums {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: baseline;
	font-size: calc(10px + 2vmin);;
}

.Album {
	padding: 2vw;
	width: 300px;
}

.Album img {
	/* non square images get a little distorted 
	full size is 300x300*/
	height: 300px;
	width: 300px;
}

.Background {
	height: 300px;
}

.Colors {
	font-size: 18px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%; /*prob not necessary once footer/something else is below*/
}

.Colors .Dropdown {
	padding: 5px;
}

.Colors .Dropdown-content {
	margin: auto;
}

.Sorting-options {
	text-align: left;
}

.Gradient {
	width: 100%;
    height: 25px;
    margin: 15px 0px;
    border-radius: 20px;
    border: 1px solid #eee;
}

.Dots {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Bin {
	padding: 10px 0px;
	width: 50px;
	text-align: left;
}

.Dot {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: inline-block;
	margin: 1%;
}