/* decide if everything gets .App or not 
	reconsider where to use pixels, %, vm, etc*/

.App {
	text-align: center;
}

.App-link, .App a {
	color: #41bee0;
	text-decoration: none;
}

.App-link:hover, 
.App a:hover {
	text-decoration: underline;
	text-decoration-color:  #41bee0;
}

.App h2 {
	color: #282c34;
	font-size: calc(10px + 3vmin);
}

.App .h2-button {
	color: #282c34;
	font-size: calc(10px + 2vmin);
	overflow: visible;
	width: auto;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}

.App button.h2-button:hover {
	text-decoration: underline;
	text-decoration-color:  #41bee0;
}

.App .Disappears {
	-webkit-transition: 0.65s;
	-moz-transition: 0.65s;
	-o-transition: 0.65s;
	transition: 0.65s;
	/*opacity: 0;*/
}

.App .Disappears:hover {
	opacity: 0;
}

.App .hidden {
	display: none;
}

.App .Loading {
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.Background {
	height: 300px;
}

.App-header {
	background-color: #282c34;
	height: 80vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-size: calc(10px + 2vmin);
	color: white;
	text-align: left;
}

.App-header a {
	color: white;
}

.Artist-image, .Artist-image img {
	height: 80vh;
	width: auto;
}

.Artist-info {
	height: 80vh;
	width: 100%;
	padding-left: 8vh;
	flex-flow: column wrap;
	align-items: baseline;
}

.Top-tracks {
	/* would like it if column wrap worked >:/ */
	column-count: 2;
}

.Track p {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 7%;
}

.Options {
	/* messy but the right idea: want it less obtrusive, now it acts weird when over another link */
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: fit-content;
	position: sticky;
	top: 0px;
	background: white;
	padding: 10px;
	z-index: 1000; /*maybe not a good idea :P */
}

.Dropdown {
	display: inline-flex;
	width: auto;
	margin-left: 15px;
	margin-right: 15px;
}

.Dropdown-content {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.Dropdown-option {
	color: #282c34;
	font-size: 18px;
	overflow: visible;
	width: auto;
	background: none;
	margin: 0px 10px;
	border: none;
	cursor: pointer;
}

.Dropdown-option:hover {
	text-decoration: underline;
	text-decoration-color:  #41bee0;
}

.Albums {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: baseline;
	font-size: calc(10px + 2vmin);;
}

.Album {
	padding: 2vw;
	width: 300px;
}

.Album img {
	/* non square images get a little distorted 
	full size is 300x300*/
	height: 300px;
	width: 300px;
}

.Colors {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%; /*prob not necessary once footer/something else is below*/
}

.Gradient {
	width: 100%;
    height: 25px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: 1px solid #eee;
	background-image: linear-gradient(
		to right,
		white, 
		black
	);
}

.Dots {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Bin {
	padding: 10px 0px;
	width: 50px;
	text-align: left;
}

.Dot {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: inline-block;
	margin: 1%;
}