.App {
	text-align: center;
}

.App-link, .App a {
	color: #41bee0;
	text-decoration: none;
}

.App-link:hover, 
.App a:hover {
	text-decoration: underline;
	text-decoration-color:  #41bee0;
}

.App button.h1-button {
	color: #282c34;
	font-size: calc(10px + 2vmin);
	text-decoration: none;
	overflow: visible;
	width: auto;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}

.App .h1-button:hover,
.App .h1-button:focus,{
	text-decoration: underline;
	text-decoration-color:  #41bee0;
}

.App img {
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}

.App img:hover {
	opacity: 0;
}

.App .hidden {
	display: none;
}

.App .Loading {
	justify-content: center;
	align-items: center;
}

.Background {
	height: 100%;
}

.App-header {
	background-color: #282c34;
	height: 80vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-size: calc(10px + 2vmin);
	color: white;
	text-align: left;
}

.App-header a {
	color: white;
}

.Artist-image, .Artist-image img {
	height: 80vh;
	width: auto;
}

.Artist-info {
	height: 80vh;
	width: 100%;
	padding-left: 8vh;
	flex-flow: column wrap;
	align-items: baseline;
}

.Top-tracks {
	/* would like it if column wrap worked >:/ */
	column-count: 2;
}

.Track p {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 7%;
}

.Albums {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: baseline;
	font-size: calc(10px + 2vmin);;
		-webkit-transition: 0.75s;
	-moz-transition: 0.75s;
	-o-transition: 0.75s;
	transition: 0.75s;
}

.Album {
	padding: 2vw;
	width: 300px;
}

.Album img {
	/* non square images get a little distorted */
	height: 300px;
	width: 300px;
}
